{% extends "base.html"%}
{% block content %}
<h1>New snippet</h1>
<form method="POST">
  {{ form.errors }}
  <dl>
  {% for field in form %}
    <dt>{{ field.label }}</dt>
    <dd>{{ field }}</dd>
  {% endfor %}
  </dl>
  <input type="submit" value="Submit" />
  {% csrf_token %}
</form>
{% endblock %}
