{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<head>
   <link rel="stylesheet" href="{% static "pygments.css" %}">
</head>
<body>
<h1>Snippet {{ snippet.id }}</h1>
<p>Title: {{ snippet.title }}</p>
<p>Language: {{ snippet.language_name }}</p>
<p>Text:</p>
<p class="highlight">{{ snippet.html|safe }}</p>
<p>Created at:</p>
<p>{{ snippet.created_ts }}</p>
</body>
{% endblock %}
