<html>
<head>
   <link rel="stylesheet" href="{{ static_url("img/pygments.css", include_host=True) }}"> 
</head>
<body>
{% raw "<p>Hola</p>" %}

<p>{{ handler }}</p>
<p>{{ request }}</p>
<p>{{ current_user }}</p>
<p>{{ locale }}</p>
<p>{{ _ }}</p>
<p>{{ static_url }}</p>
<p>{{ xsrf_form_html }}</p>
<p>{{ reverse_url("home") }}</p>
<p>{{ locals() }}</p>
<p>{{ globals() }}</p>
<p>{{ 'v' in locals() }}</p>
<p>{{ 'v' in globals() }}</p>
<p>{{ v }}</p>
  {% block "content" %}
  {% end %}
</body>
</html>
